//
//  Debug.xcconfig
//  KChallenge
//
//  Created by Carlos Guerra Lopez on 16/08/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
MOSKI_APP_NAME = MoskiAppDebug
MOSKI_APP_VERSION = $(inherited).3

// MARK: - Environment and base URLS
MOSKI_API_BASE_URL = https:\/\/api.themoviedb.org
MOSKI_BUCKET_URL = https:\/\/image.tmdb.org

// Networking Access Token
MOSKI_PERSONAL_ACCESS_TOKEN = 
